.stroke-text {
  -webkit-text-stroke: 2px #2563EB; /* Indigo-500 */
  color: transparent; /* Hollow inside */
}
.al {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.7s ease;
}

.al.active {
  opacity: 1;
  transform: translateY(0);
}